body {
  background-color: #feefd7;
}

.center {
  text-align: center;
  color: black;
}

div {
  margin: 40px;
  padding: 70px;
  border: 3px solid #a97728;
}

h3 {
  position: absolute;
  left: 100px;
  top: 19400px;
}

.b {
  background-color: #FFEBCD;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 30%;
}

.a {
  font-size: large;
}

.new4 {
  border-top: 3px dashed SlateGray;
}
